Repository doublesymmetry/react-native-track-player, pull requests merged in 2019-04, with the labels that each got.

#522 fix issue with url + fix bug
  ios/RNTrackPlayer/Models/MediaURL.swift
Labels: iOS

#517 Add TimePitching interface to Track
  ios/RNTrackPlayer/Models/Track.swift
Labels: iOS

#485 [iOS] Clear nowplayinginfocenter on `reset()`
  ios/RNTrackPlayer/RNTrackPlayer.swift
Labels: iOS

#490 [iOS] Add config to wait for buffer
  index.d.ts
  ios/RNTrackPlayer/RNTrackPlayer.swift
Labels: iOS

#500 [iOS] Allow multiple category options
  index.d.ts
  ios/RNTrackPlayer/RNTrackPlayer.swift
Labels: iOS

#493 [iOS] Return real value for bufferedPosition.
  ios/RNTrackPlayer/RNTrackPlayer.swift
  ios/RNTrackPlayer/Vendor/AudioPlayer/AVPlayerWrapper/AVPlayerWrapper.swift
  ios/RNTrackPlayer/Vendor/AudioPlayer/AVPlayerWrapper/AVPlayerWrapperProtocol.swift
  ios/RNTrackPlayer/Vendor/AudioPlayer/AudioPlayer.swift
Labels: iOS

#331 Add the option to update trackMetadata
  android/src/main/java/com/guichaguri/trackplayer/module/MusicModule.java
  android/src/main/java/com/guichaguri/trackplayer/service/MusicBinder.java
  android/src/main/java/com/guichaguri/trackplayer/service/MusicManager.java
  index.d.ts
  ios/RNTrackPlayer/RNTrackPlayer.swift
  ios/RNTrackPlayer/RNTrackPlayerBridge.m
  lib/index.js
Labels: Android, Enhancement, iOS

#465 Add a function to update a track metadata
  android/src/main/java/com/guichaguri/trackplayer/module/MusicModule.java
  android/src/main/java/com/guichaguri/trackplayer/service/models/Track.java
  android/src/main/java/com/guichaguri/trackplayer/service/player/ExoPlayback.java
  docs/Documentation.md
  index.d.ts
  ios/RNTrackPlayer/Models/Track.swift
  ios/RNTrackPlayer/RNTrackPlayer.swift
  ios/RNTrackPlayer/RNTrackPlayerBridge.m
  lib/index.js
  windows/RNTrackPlayer.sln
  windows/RNTrackPlayer/Logic/MediaManager.cs
  windows/RNTrackPlayer/Logic/Metadata.cs
  windows/RNTrackPlayer/Logic/Track.cs
  windows/RNTrackPlayer/Players/Playback.cs
  windows/RNTrackPlayer/RNTrackPlayer.nuget.props
  windows/RNTrackPlayer/TrackPlayerModule.cs
Labels: Enhancement

#549 Added warning that Expo is not supported.
  docs/Installation.md
Labels: Docs

#560 [docs] Add page for Amazon FireOS Support.
  docs/Amazon-FireOS-Support.md
Labels: Android, Docs
