Repository doublesymmetry/react-native-track-player, pull requests merged in 2019-06, with the labels that each got.

#603 [react] fix hooks
  docs/Documentation.md
  lib/hooks.js
Labels: Javascript

#619 [Android] Fix notification reinitialization after service is stopped
  android/src/main/java/com/guichaguri/trackplayer/module/MusicModule.java
Labels: Android

#498 [docs] Add docs for setting category, options, and mode on play
  docs/Documentation.md
Labels: Docs

#530 [iOS] Send remote events when interruption handling
  ios/RNTrackPlayer/RNTrackPlayer.swift
  lib/index.js
Labels: iOS

#553 Added custom headers to the track
  android/src/main/java/com/guichaguri/trackplayer/service/models/Track.java
  docs/Documentation.md
Labels: Enhancement

#645 docs: fix typo
  docs/Documentation.md
Labels: Docs
