Repository doublesymmetry/react-native-track-player, pull requests merged in 2019-02, with the labels that each got.

#425 Feature: enable seeking on mp3's with variable bitrate
  android/src/main/java/com/guichaguri/trackplayer/service/models/Track.java
Labels: Android

#441 [Android] Use root project's sdk versions if specified
  android/build.gradle
Labels: Android

#449 Add missing calls to resolveAsset for rewindIcon and forwardIcon.
  lib/index.js
Labels: Bug, Javascript

#443 Update podspec to pull from the tag
  react-native-track-player.podspec
Labels: iOS

#444 Remove all remote commands before adding new ones
  ios/RNTrackPlayer/RNTrackPlayer.swift
Labels: iOS

#462 [Android] Add ability to set back buffer.
  android/src/main/java/com/guichaguri/trackplayer/service/MusicManager.java
Labels: Android

#466 Fix background crash on Android 8+
  android/src/main/java/com/guichaguri/trackplayer/service/MusicService.java
Labels: Android
