Repository doublesymmetry/react-native-track-player, pull requests merged in 2020-05, with the labels that each got.

#814 [Fix] Update react hooks doc
  docs/Documentation.md
Labels: Docs

#925 Rework docs
  README.md
  docs/API.md
  docs/Background-Mode.md
  docs/Build-Preferences.md
  docs/Documentation.md
  docs/Installation.md
  docs/index.md
  example/service.js
Labels: Docs, Enhancement

#722 Update hooks - reset progress when playback stops
  src/hooks.ts
Labels: Javascript

#926 [docs] Clarify casting support in the docs.
  README.md
  docs/Cast-Integration.md
  docs/Platform-Support.md
  docs/index.md
Labels: Android, Docs

#959 Fixed broken links in ReadMe Documentation
  README.md
Labels: Bug, Docs

#935 Update hooks
  docs/Documentation.md
  index.d.ts
  lib/hooks.js
Labels: Javascript
